
<div class="container" style="max-width: 600px">
    <div class="row">
        <div class="col-xs-6 justify-content-center">
            {{ form_start(form) }}

            {{ form_start(form) }}

            {{ form_row(form.title , {
                label: 'Titre de la formation',
                'attr': {'class': 'mb-3'}
            }) }}
            {{ form_row(form.description , {
                label: 'Décrivez votre nouvelle formation',
                'attr': {'class': 'mb-3'}
            }) }}
            {{ form_row(form.picture , {
                label: 'Choissiez une image representant la formation',
                'attr': {'class': 'mb-3'}
            }) }}

            {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('POURSUIVRE') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>


