{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card bg-dark text-white">
            <img src="{{ asset('images/formation2.jpg') }}" class="img rounded-3" style="width:100%; height:auto" alt="formation index">
            <div class="card-img-overlay">
                <h2 class="card-title">LES FORMATIONS</h2>
                <p class="card-text">Retrouvez ici toutes nos formations disponibles</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% for formation in formations %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ formation.title }}</h5>
                        <p class="card-text">{{ formation.description }}</p>
                        <a href="{{ path('app_formation_show' , {'id' :  formation.id} ) }}" class="btn btn-primary">Accès a la formation</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ formation.title }}</h5>
                        <p class="card-text">{{ formation.description }}</p>
                        <a href="{{ path('app_formation_show' , {'id' :  formation.id} ) }}" class="btn btn-primary">Accès a la formation</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.title }}</td>
                <td>{{ formation.picture }}</td>
                <td>{{ formation.description }}</td>
                <td>
                    <a href="{{ path('app_formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formation_new') }}">Create new</a>
{% endblock %}
