{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <a href="{{ path('app_formation_index') }}" class="btn btn-success mt-3 d-flex justify-content-sm-start" role="button">Retour à la liste des formations</a>
            </div>
            <div class="col-sm-10"></div>
        </div>
    </div>

    <div class="container">
        <div class="formation-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">{{ formation.title }}</h1>
            <p class="fs-5 text-muted">Vous retrouvez ici vos sections qui font parti de la formation sélectionné.</p>
        </div>
        <div class="row">
            {% for sectionFormation in sectionsFormation %}
            <div class="col-sm-6 col-md-4 formationGlobal ">
                <h3 class="formationTitle"><strong>{{ sectionFormation.title }}</strong></h3>
                <img class="img-thumbnail" src="{{ asset('Formation/' ~  formation.picture ) }}" alt="formation image">
                <p class="description">{{ sectionFormation.name }}</p>
                <a href="{{ path('app_section_show', {'id': sectionFormation.id }) }}" class="btn btn-success" >Acceder au cours</a>
                <a href="{{ path('app_quizz_edit', {'id' : sectionFormation.id }) }}" class="btn btn-outline-danger">Quiz</a>
                {% if is_granted('ROLE_INSTRUCTEUR') != false %}
                <a href="{{ path('app_formation_edit', {'id': formation.id}) }}" class="btn btn-secondary">Modification</a>
                {{ include('formation/_delete_form.html.twig') }}
                {% endif %}
            </div>
            {% endfor %}

             {% if sectionsFormation == [] %}
                 <div class="row mt-2">
                     <div class="col d-flex justify-content-center alert alert-secondary">
                        <p>Il n'y a pas encore de section de créer pour cette formation, mais revient vite, l'instructeur doit être en train de la préparer...</p>
                     </div>
                </div>
            {% endif %}
        </div>
    </div>




{% endblock %}


   {#  <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ formation.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ formation.picture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formation.description }}</td>
            </tr>
        </tbody>
    </table>

#}