<div class="row mt-4 ">
    <div class="col-12 text-center">
        <h1 class="color">Nos formations</h1>
    </div>
    <div class="col-md d-flex flex-row flex-wrap justify-content-around">
        {% for formation in formations %}
            <div class="card  m-2 border-formations" style="overflow:hidden;width: 320px; min-width: 288px;">
                <img src="{{ asset('Formation/' ~  formation.picture ) }}"
                     class="card-img-top mx-auto shadow rounded mt-2  " alt="cover formation"
                     style="width:260px;height:260px">
                <div class="card-body">
                    <h4 class="card-title">{{ formation.title }}</h4>
                    <p class="card-text description"> {{ formation.teaserText }}</p>
                    <div class="mb-1 text-muted">Ecrit par
                        : {{ formation.user.firstname }} {{ formation.user.name }}</div>
                </div>
                <div class="btn-access-formation">
                    <a href="{{ path('app_formation_show' , {'id' :  formation.id} ) }}"
                       class="btn btn-primary">Détails</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



