
<div container-fluid id="myCarousel" class="carousel slide position-relative overflow-hidden p-3 p-md-3 m-md-3 " width="100%" height="100%" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner text-center" >
        <div class="carousel-item active">
            <img src="{{ asset('images/coursfemme.jpeg') }}" class="bd-placeholder-img"  focusable="false">
            <div class="container">
                <div class="carousel-caption text-end">
                    <p><strong class="text-carousel">Bienvenue sur EcoIT, votre formateur vert en ligne</strong></p>
                    <p><a class="btn btn-lg btn-success" href="{{ path('app_login') }}">Se connecter</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/laptopforet.jpg') }}"   class="bd-placeholder-img" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>A propos de nous</h1>
                    <p></p>
                    <p><a class="btn btn-lg btn-success" href="{{ path('app_homepage') }}">Nos valeurs</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/online.jpg') }}"   class="bd-placeholder-img" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Promo 2021</h1>
                    <p>Rejoins-nous dès maintenant !</p>
                    <p><a class="btn btn-lg btn-success" href="{{ path('app_register_apprenant') }}">Inscription</a></p>

                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
