{% extends 'base.html.twig' %}


<div class="container-fluid" style="margin-top: 100px">
    <div class="row d-flex align-items-center mt-4" id="homeBlock">
        <div class="col-lg-3 ">

        </div>
        <div class="col-lg-3 col-xs-6 m5 ">
            <img src="{{ asset('images/laptop-inscription.jpg') }}" alt="homepage">
        </div>
        <div class="col-lg-3 col-xs-6 text-center  m5 rounded bg-rounded" id="homeImg" style="background: rgba(71,66,65,0.87);color: #d0ccb9;">
            <h1>Bievenue sur votre site EcoIT</h1>
            <p >Venez décourvrir nos formations, pour un web plus respectueux et vert</p>
            <button class="btn btn-success" href={{ path('app_register_apprenant') }} role="button" style="background-color:#474241">NOUS REJOINDRE</button>
        </div>
        <div class="col-lg-3 ">

        </div>
    </div>
</div>

<div class="row mt-4 ">
    <div class="col-12 text-center">
        <h1 class="color">Nos formations</h1>
    </div>
    <div class="col-md d-flex flex-row flex-wrap justify-content-around">
        {% for formation in formations %}
        <div class="card  m-2 border-formations" style="overflow:hidden;width: 320px; min-width: 288px;">
            <img src="{{ asset('Formation/' ~  formation.picture ) }}"
                 class="card-img-top mx-auto shadow rounded mt-2  " alt="cover formation"
                 style="width:260px;height:260px">
            <div class="card-body">
                <h4 class="card-title">{{ formation.title }}</h4>
                <p class="card-text description"> {{ formation.description }}</p>

                <div class="btn-access-formation">
                    <a href="{{ path('app_formation_show' , {'id' :  formation.id} ) }}"
                       class="btn btn-primary">Détails</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



