{% extends 'base.html.twig' %}

{% block title %}Enregistrement instructeur{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" id="registerTotal">
                <div>
                    <img src="{{ asset('images/' ~ 'logo_gui.png') }}" width="25%" height="35%">
                    <h1 class="mb-3 text-center" id="titleRegister">INSCRIPTION</h1>
                    <h3 class="mt-3 text-center" id="subtitleRegister">Inscrivez-vous en tant qu'instructeur </h3>
                </div>


                <div class="mb-3 " id="emailRegister">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email, {
                        label: 'E-mail :'
                    }) }}
                </div>

                <div class="mb-3 " id="passwordRegister">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe : '
                    }) }}
                </div>

                <div class="mb-3" id="fullnameRegister">
                    {{ form_row(registrationForm.fullname, {
                        label: 'Nom de Famille : '
                    }) }}
                </div>
                <div class="mb-3" id="nameRegister">
                    {{ form_row(registrationForm.name, {
                        label: 'Prénom : '
                    }) }}
                </div>

                <div class="mb-3" id="photoRegister">
                    {{ form_row(registrationForm.profilePicture , {
                        label: 'Photo de profil : '
                    }) }}
                </div>

                <div class="mb-3" id="descriptionRegister">
                    {{ form_row(registrationForm.description , {
                        label: 'Décrivez vous en quelques lignes : '
                    }) }}
                </div>

                <button class="btn btn-primary" type="submit" value="Submit">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
            <a class="btn btn-success me-2" href={{ path('app_homepage') }} role="button" >Retour à l'acceuil</a>
        </div>
    </div>

{% endblock %}
