{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block header %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4  text-center ">
                <h2>
                    INSCRIPTION INSTRUCTEUR
                </h2>
            <div class="">
                {{ form_start(registrationForm , {
                    'attr' : {'class' :  'mb-3 mt-3 font-weight-bold text-uppercase ', }
                }) }}


                {{ form_row(registrationForm.email , {
                    label: 'E-mail : ',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe : ',
                    'attr': {'class': 'mb-3'}
                }) }}

                {{ form_row(registrationForm.fullname, {
                    label: 'Prénom : ',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.name, {
                    label: 'Nom : ',
                    'attr': {'class': 'mb-3'}
                }) }}

                {{ form_row(registrationForm.description, {
                    label: 'Description courte sur vos spécialités : ',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.profilePicture , {
                    label: 'Photo de profil : ' ,
                    'attr': {'class': 'mb-3'}
                }) }}
                <div class="mt-3 mb-3">
                    <button class="btn btn-success d-block w-100" type="submit" style="color: #ffffff; background: rgb(71,66,65);">S&#39;inscrire</button>
                </div>
            </div>
            {{ form_end(registrationForm) }}
            </div>
            <div class="col-4 col-xs-2">

            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}


