{% extends 'base.html.twig' %}


{% block title %}S'inscrire{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5 justify-content-center">

        <div class="col-5 ">
            <h2>
                INSCRIPTION APPRENANT
            </h2>


            {{ form_start(registrationForm , {
                'attr' : {'class' :  'mb-3 mt-3 font-weight-bold text-uppercase ' ,}
            }) }}
            {{ form_row(registrationForm.email , {
                label: 'E-mail :',
                'attr': {'class': 'mb-3'}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :',
                'attr': {'class': 'mb-3'}
            }) }}
            {{ form_row(registrationForm.pseudo, {
                label: 'Pseudo :',
                'attr': {'class': 'mb-3'}
            }) }}
            <div class="mb-3">
                <button class="btn btn-success d-block w-100" type="submit" style="color: #ffffff; background: rgb(71,66,65);">S&#39;inscrire</button>


        {{ form_end(registrationForm) }}

        </form>
        </div>
    </div>
</div>
{% endblock %}


