<div class="container" style="max-width: 600px">
    <div class="row">
        <div class="col-xs-6">
            {{ form_start(form) }}

            {{ form_row(form.title , {
                label: 'Titre de la section',
                'attr': {'class': 'mb-3'}
            }) }}
            {{ form_row(form.name , {
                label: 'Sous titre',
                'attr': {'class': 'mb-3'}
            }) }}
            {{ form_row(form.formation , {
                label: 'Choissiez la formation en lien avec votre nouvelle section',
                'attr': {'class': 'mb-3'}
            }) }}

            {{ form_widget(form) }}
            <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
            {{ form_end(form) }}

        </div>
    </div>
</div>

