{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block body %}

    <section class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Nos Sections</h2>
                <p class="text-center">Retrouvez ici toutes les sections disponibles de votre formation </p>
            </div>
            <div class="row features">
                {% for section in sections %}
                    <div class="col-sm-6 col-md-4 item">
                        <h3 class="name"><strong>{{ section.title }}</strong></h3>
                        <p class="description">{{ section.name }}</p>
                       {#  <a href="{{ path('app_lesson_show', {'id': lesson.Id }) }}" class="btn btn-primary" >Acceder à la leçon</a>#}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_INSTRUCTEUR') != false %}
            <a href="{{ path('app_section_new') }}">Création section</a>
        {% endif %}
    </section>
{% endblock %}

    {# <h1>Section index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.title }}</td>
                <td>{{ section.name }}</td>
                <td>
                    <a href="{{ path('app_section_show', {'id': section.id}) }}">show</a>
                    <a href="{{ path('app_section_edit', {'id': section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_section_new') }}">Create new</a> #}

