{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{%  block header%}
{% endblock  %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a href="{{ path('app_formation_index') }}" class="btn btn-success mt-3 d-flex justify-content-sm-start" role="button">Retour à la liste des formations</a>
        </div>
        <div class="col-sm-10"></div>
    </div>
</div>

<div class="container">
    <div class="formation-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{ section.title }}</h1>
        <p class="fs-5 text-muted">Vous retrouvez ici vos leçons qui font parti de la section sélectionné.</p>
    </div>
    <div class="row">
        {% for lessonSection in lessonsSection %}
            <div class="col-sm-6 col-md-4 ">
                <h3 class="LessonTitle">
                    <strong>{{ lessonSection.title }}</strong>
                </h3>
                {# <img class="img-thumbnail" src="{{ asset('lesson/' ~  lesson.picture ) }}" alt="lesson image">#}
                <a href="{{ path('app_lesson_show', {'id': lessonSection.id }) }}" class="btn btn-success" >Acceder au cours</a>
                {% if lessonSection == [] %}
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-center alert alert-secondary">
                            <p>Vos leçons sont en cours d'écriture... patience</p>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
                {% if is_granted('ROLE_INSTRUCTEUR') != false %}

                {% endif %}

            </div>


    </div>
</div>


    {# }<h1>Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ section.title }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ section.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_section_index') }}">back to list</a>

    <a href="{{ path('app_section_edit', {'id': section.id}) }}">edit</a>

    {{ include('section/_delete_form.html.twig') }}
    #}
{% endblock %}
