{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    <div class="d-flex justify-content-center align-items-center container mt-4">
            <div class="form-signin">
                <div class="col">
                    <h1 class="h3 mb-3 mt-3  ">Connectez-vous</h1>
                    <form action="{{ path('login') }}" method="post" class="formulaire-login" >

                        <label for="username">Email:</label>
                        <input type="email" id="username" name="_username" class="form-control"  placeholder="example@mail.com" value="{{ lastUsername }}"/>

                        <label for="password">Mot de passe :</label>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="*******"/>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ path('app_homepage') }}"/>
                        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
                        <p class="mt-5 mb-3 text-muted">EcoIT - 2021</p>
                    </form>
                </div>
            </div>
        </div>



{% endblock %}



