{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block header %}
{% endblock %}

{% block body %}


    <section class="features">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Leçon</h2>
                <p class="text-center">Retrouvez ici toutes nos leçons disponibles </p>
                <a href="{{ path('app_lesson_new') }}" class="btn btn-success">Création d'une leçon</a>
            </div>
            <div class="row mt-5">
                {% for lesson in lessons %}
                    <div class="col-sm-6 col-md-4 formationGlobal ">
                        <h3 class="formationTitle"><strong>{{ lesson.title }}</strong></h3>
                        <img class="img-thumbnail" src="{{ asset('lesson/' ~  lesson.picture ) }}" style="height: 200px; width:250px ">
                        <a href="{{ path('app_lesson_show' , {'id' :  lesson.id} ) }}" class="btn btn-primary">Accès a la leçon</a>
                        {% if is_granted('ROLE_INSTRUCTEUR') != false %}
                            <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}" class="btn btn-secondary">Modification</a>
                        {% endif %}
                    </div>


                {% endfor %}
            </div>

        </div>

    </section>



    {# }
   <div class="container">
        <div class="row">
            {% for lesson in lessons %}
            <div class="col-sm-3">
                <p class="description">{{ lesson.title }}}</p>
            </div>
            {% endfor %}
            <div class="col-sm-9">
                <h1>Lesson index</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Content</th>
                        <th>Video</th>
                        <th>Picture</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lesson in lessons %}
                        <tr>
                            <td>{{ lesson.id }}</td>
                            <td>{{ lesson.content }}</td>
                            <td>{{ lesson.video }}</td>
                            <td>{{ lesson.picture }}</td>
                            <td>
                                <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">show</a>
                                <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_lesson_new') }}">Create new</a>
            </div>
        </div>
    </div>
#}

{% endblock %}
