{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block header %}
{% endblock %}

{% block body %}



<h1 class="text-center mt-3  color">{{ lesson.title }}</h1>


    <div class="container">
        <div class="col-md-3 d-none">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                <div class="card-body border border-5">
                    <h3 class="card-title text-center">{{ lesson.title }}</h3>
                    <h4>Images</h4>
                    <img src="{{ asset('Lesson/' ~ lesson.picture) }}" class="card-img-top mt-2 mb-5" style="width: 100%" alt="images leçon">
                    <h4>Contenue de formation </h4>
                    <p class="card-text text-center">{{ lesson.content }}</p>
                    <div class="mt-5 mb-5 justify-content-center d-none d-lg-block">
                        <h4>Video complémentaire</h4>
                        <iframe width="600" height="355" src="{{ lesson.video }}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                        <h5>Avez vous terminer votre leçon ?</h5>
                        <div class="form-check ">
                        <label><input class="form-check-input" type="checkbox" value="" id="isFinished" name="progress_form[lessonFinished]">
                            <label class="form-check-label" for="isFinished">
                                Terminer
                            </label>
                    </div>
                        {#  <a href="{{ path('app_section_show', {'id': section.id}) }} role=button >Retour a la section</a> #}

                </div>
            </div>
            </div>
            <div class="col-md-3 d-none">
            </div>
        </div>
    </div>


    {% if  lesson.picture   is not null %}

    {% endif %}
    </div>
{% endblock %}



{# <div class="container">
    <div class="formation-header p-3 pb-md-4 mx-auto text-center">

        <p class="fs-5 text-muted">Vous retrouvez ici vos leçons qui font parti de la section sélectionné.</p>
    </div>
    <div class="row">
        {% for lesson in lessons %}
            <div class="col-sm-6 col-md-4 formationGlobal ">
                <h3 class="lessonTitle">
                    <strong>{{ lesson.title }}</strong>
                </h3>
                <img class="img-thumbnail" src="{{ asset('lesson/' ~  lesson.picture ) }}" alt="formation image">
                <p class="description">{{ lesson.content }}</p>
                <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Accès leçon</a>
                {% if is_granted('ROLE_INSTRUCTEUR') != false %}
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">modification</a>
                    {{ include('formation/_delete_form.html.twig') }}
                {% endif %}
            </div>
        {% endfor %}


#}