{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block header %}
{% endblock %}

{% block body %}


    <div class="container mt-5 mb-5" style="max-width: 800px">
        <div class="row">
            <div class="col justify-content-center">
                <a href="{{ path('app_formation_index') }}" class="btn btn-success" style="max-width: 200px" role="button" >Retour à la liste des formations</a>
                <div class="card" style="width: 100%;">

                <div class="card-body border border-5">
                    <h3 class="card-title text-center text-uppercase">{{ lesson.title }}</h3>
                    <h4>Images</h4>
                    <img src="{{ asset('lesson/' ~ lesson.picture) }}" class="card-img-top mt-2 mb-5" style="width: 100%" alt="images leçon">
                    <h4>Contenue de formation </h4>
                    <p class="card-text text-center">{{ lesson.content }}</p>
                    <div class="mt-5 mb-5 justify-content-center d-none d-lg-block">
                        <h5>Vidéo tutoriel :</h5>
                        <div class="formation_lesson_video">
                            <iframe
                                    class="formation_lesson_video_iframe"
                                    width="560"
                                    height="315"
                                    src="{{ lesson.video }}"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        {# <div>
                            {{ form_start(form) }}

                            {{ form_row(form.lessonFinished,
                                { label : 'Avez-vous fini votre leçon ? '}) }}
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100" type="submit" style="color: var(--bs-white);background: #cda67a;">Oui</button>
                            </div>

                            {{ form_end(form, {render_rest: false}) }}

                        </div>#}
                    </div>

            </div>
            </div>
        </div>
    </div>

{% endblock %}



