{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block header %}
{% endblock %}

{% block body %}


    <div class="container">
        <div class="col-md-3 d-none">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                <div class="card-body border border-5">
                    <h3 class="card-title text-center">{{ lesson.title }}</h3>
                    <h4>Images</h4>
                    <img src="{{ asset('Lesson/' ~ lesson.picture) }}" class="card-img-top mt-2 mb-5" style="width: 100%" alt="images leçon">
                    <h4>Contenue de formation </h4>
                    <p class="card-text text-center">{{ lesson.content }}</p>
                    <div class="mt-5 mb-5 justify-content-center d-none d-lg-block">
                        <h5>Vidéo tutoriel :</h5>
                        <div class="formation_lesson_video">
                            <iframe
                                    class="formation_lesson_video_iframe"
                                    width="560"
                                    height="315"
                                    src="{{ lesson.video }}"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                <div>
                    {{ form_start(form) }}

                    {{ form_row(form.isFinished,
                        { label : 'Avez-vous fini votre leçon ? '}) }}
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="color: var(--bs-white);background: #cda67a;">Oui</button>
                    </div>

                    {{ form_end(form, {render_rest: false}) }}

                </div>
            </div>
            </div>
            <div class="col-md-3 d-none">
            </div>
        </div>
    </div>
    {% block javascripts %}

    {% endblock %}

{% endblock %}



{# <div class="container">
    <div class="formation-header p-3 pb-md-4 mx-auto text-center">

        <p class="fs-5 text-muted">Vous retrouvez ici vos leçons qui font parti de la section sélectionné.</p>
    </div>
    <div class="row">
        {% for lesson in lessons %}
            <div class="col-sm-6 col-md-4 formationGlobal ">
                <h3 class="lessonTitle">
                    <strong>{{ lesson.title }}</strong>
                </h3>
                <img class="img-thumbnail" src="{{ asset('lesson/' ~  lesson.picture ) }}" alt="formation image">
                <p class="description">{{ lesson.content }}</p>
                <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Accès leçon</a>
                {% if is_granted('ROLE_INSTRUCTEUR') != false %}
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">modification</a>
                    {{ include('formation/_delete_form.html.twig') }}
                {% endif %}
            </div>
        {% endfor %}


#}