{% extends 'base.html.twig' %}

{% block title %}Progress index{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

    <div class="container mt-5" style="max-width: 800px">
        <div class="row">
            <div class="col-6">
                <div class="card text-center text-uppercase">
                    <h5>Formation en cours</h5>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center text-uppercase">
                    <h5>Formation terminés</h5>
                </div>
            </div>

        </div>

    </div>

    {# <h1>Progress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FormationFinished</th>
                <th>LessonFinished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for progress in progress %}
            <tr>
                <td>{{ progress.id }}</td>
                <td>{{ progress.formationFinished ? 'Yes' : 'No' }}</td>
                <td>{{ progress.lessonFinished ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_progress_show', {'id': progress.id}) }}">show</a>
                    <a href="{{ path('app_progress_edit', {'id': progress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_progress_new') }}">Create new</a>"#}
{% endblock %}
