{% extends 'base.html.twig' %}

{% block title %}Edit Quizz{% endblock %}

{% block body %}


    {% block title %}Edit Quiz{% endblock %}

    {% block body %}

        <h1 class="color text-center mt-3">Bienvenue sur le Quiz correspondant à la section " {{ sectionTitle }} "</h1>

        {{ form_start(form) }}
        <div class="mt-4">
            <p><strong>1 ) </strong>{{ q1 }}</p>
            {{ form_widget(form.response1) }}
        </div>
        <div class="mt-4">
            <p><strong>2 ) </strong>{{ q2 }}</p>

            {{ form_widget(form.response2) }}
        </div>
        <div class="mt-4">
            <p><strong>3 ) </strong>{{ q3 }}</p>

            {{ form_widget(form.response3) }}
        </div>

        <button class="btn btn-secondary float-end">{{ button_label|default('Correction') }}</button>
        {{ form_end(form) }}


    {% endblock %}


   {#  <h1>Edit Quizz</h1>

    {{ include('quizz/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quizz_index') }}">back to list</a>

    {{ include('quizz/_delete_form.html.twig') }}
    #}
