{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ quiz.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ quiz.title }}</td>
        </tr>
        <tr>
            <th>Good</th>
            <td>{{ quiz.good ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>No_good</th>
            <td>{{ quiz.noGood ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Good_reponse</th>
            <td>{{ quiz.goodReponse }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quiz_index') }}">back to list</a>

    <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}">edit</a>

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
